############################
# === Arquivos Temporários ===
############################

*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
dist/
build/
*.egg-info/
downloads/
teste.txt

############################
# === MATLAB / Simulink === 
############################
*.asv
*.m~
*.autosave
slprj/
*.slxc
*.mdl.autosave
*.slx.autosave
**/codegen/
**/sldv_output/
*.mex*
*.p

############################
# OS / IDE
############################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################
# === Arquivos Temporários ===
############################

*.rpt
*.summary
*.done
*.chg
*.eqn
*.pin
*.qws
*.jdi
*.sof
*.pof
*.jic
*.map.*
*.fit.*
*.asm.*
*.sta.*
*.qsf.bak
*.qpf.bak

# Netlists e arquivos intermediários
*.vo
*.vho
*.sdo
*.sdf
*.sip

# IP Catalog / Platform Designer
ip/
ip_cache/
qsys/
*.qsys
*.qsys_edit
*.qsys_tmp

# TimeQuest
*.sdc~
*.sdc.bak

# SignalTap
*.stp
*.stp.bak


############################
# === Python (se existir) ===
############################

__pycache__/
*.pyc

############################
# === Sistema / IDE ===
############################

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

